<ion-view view-title="Streams">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="subscription in $parent.subscriptions" type="item-text-wrap" href="#/tab/streams/stream/{{subscription.stream.key}}">
          <span ng-bind="subscription.stream.name" ng-class="{'bold' : subscription.newLinks.length}"></span>
          <span ng-if="subscription.newLinks.length" class="badge badge-positive" ng-bind="subscription.newLinks.length"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
