<ion-view view-title="{{stream.name}}">
  <ion-content>
      <ion-list>
          <ion-item ng-repeat="link in $parent.links" type="item-text-wrap" ui-sref="tab.streams.stream.links({ streamKey: link.streamKey, linkId: link.id, link: link })">
              <h2>{{link.comment}}</h2>
              <p>Slapped by {{link.userName}}</p>
          </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="$parent.canLoadMore" on-infinite="$parent.load()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
