/* Empty. Add your own CSS if you like */
.pane, .view {
	background: url('../img/background.png');
}

/* Full width select */
.item-select-full select {
  border: 0;
  width: 100%;
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px; }
  .item-select-full select.invalid {
    color: #aaaaaa; }
  .item-select-full select option {
    color: #111; }
  .item-select-full select option.default-value {
    display: none; }

.img-responsive {
    width: 100%;
    height: auto;
}
.webPageFrame {
    width: 100%;
    height: 100%;
}
.media__container,
.media__container > div {
    height: 100%;
}
    .media__container video {
        width: 100%;
        height: auto;
    }

.search__gifs {
    padding: 10px 30px;
}
.new-link-count {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.bold {
    font-weight: bold;
}
.bold h2 {
    font-weight: bold;
}
.btn__share {
    position: absolute;
    bottom: 10px;
    right: 8px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    z-index: 3;
}

.media__gif {
    padding-bottom: 10px;
}
	.media__gif .gif__result {
        margin:0;
		padding:0;
        overflow: hidden;
	}

    .media__gif img {
        width: 100%;
        height: auto;
        min-height: 250px;
    }
    .media__gif .media-image {
        position:absolute;
        top:0;
        background-position:50% 50%;
        background-size:cover;
        width:100%;
        height:100%;
    }
    .media__gif a {
        display:block;
        width:100%;
        height:100%;
        overflow:hidden;
    }
    .media__gif .video__overlay {
        position: absolute;
        z-index: 2;
    }
    .media__gif .search-wrapper {
        width: 100%;
        display: inline-block;
        position: relative;
        -ms-border-radius: 20px;
        border-radius: 20px;
        background: #000;
        overflow: hidden;
    }
    .media__gif .search-wrapper:after {
        padding-top: 100%;
        display: block;
        content: '';
    }
    .media__gif .search-content {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
    }
        .media__gif .search-content div {
            width: 100%;
            height: 100%;
        }

    .media__gif video {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        -ms-border-radius: 20px;
        border-radius: 20px;
    }

.share-content {
}
    .share-content .webPageFrame {
        min-height: 300px;
    }
    .share-content .media__gif,
    .share-content .media__video {
        padding: 10px 60px;
    }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
.x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}